@font-face {
  font-family: 'roboto';
  src: 	url('../fonts/web/roboto.woff2') format('woff2'),
  		url('../fonts/web/roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: 	url('../fonts/web/robotobold.woff2') format('woff2'),
  		url('../fonts/web/robotobold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: 	url('../fonts/web/robotomedium.woff2') format('woff2'),
  		url('../fonts/web/robotomedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	width: 100%;
}
h1 {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: normal;
	margin-left: 220px;
}
h2 {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: normal;
}
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 0;
}
.main-container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 0;
}
.index-logo {
	width: 360px;
	display: inline-block;
	vertical-align: top;
}
.main-nav {
	width: 640px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	text-transform: uppercase;
}
.main-nav li {
	display: inline;
	padding-right: 40px;
}
.main-nav a, .basket a {
	text-decoration: none;
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}
.basket {
	width: 160px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}	
.slide-text {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	font-size: 16px;
}
.slide-text h2 {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
}
.slide-text p {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #283136;
}
.slide a {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
.slide-img {
	display: inline-block;
	vertical-align: top;
	width: 760px;
}
.feature-item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-right: 100px;
	font-size: 16px;
}
.feature-item:last-child {
	margin-right: 60px;
}
.feature-item h2 {
	font-family: 'robotobold', 'Arial', sans-serif;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}
.feature-item p {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #283136;
}
.feature-item a, .contact a {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
.about-left {
	display: inline-block;
	vertical-align: top;
	width: 700px;
	font-size: 16px;
	margin-right: 100px;
}
.about-left h3 {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 45px;
	line-height: 45px;
	font-weight: 100;
	color: #000000;
}
.about-left p, .about-left li {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #283136;
}
.about-left h4 {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
}
.about-right {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	font-size: 16px;
}
.about-right h4 {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000000;
}
.about-right strong {
	font-family: 'robotobold', 'Arial', sans-serif;
	font-size: 45px;
	line-height: 10,06px;
	color: #000000;
}
.about-right span {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #283136;
}
.logos a {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin-right: 40px;
}
.logos a:last-child {
	margin-right: 0px;
}
.contact {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	padding-left: 45px;
	padding-right: 60px;
	box-sizing: border-box;
	font-size: 16px;
}
.contact h3 {
	font-family: 'robotobold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}
.contact p {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #283136;
}
.social li {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	background-color: #e1e1e1;
	margin-right: 10px;
}
.social {
	display: inline-block;
	vertical-align: top;
}
.sale {
	display: inline-block;
	vertical-align: top;
	width: 700px;
	padding-left: 140px;
	box-sizing: border-box;
	font-size: 16px;
}
.sale h3 {
	font-family: 'robotobold', 'Arial', sans-serif;
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}
.sale span {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
}
.left-column {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	font-size: 16px;
}
.left-column a, .sorting a {
	font-family: 'robotobold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}
.left-column h2 {
	font-family: 'robotobold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}
.left-column label {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	color: #283136;
}
.left-column .btn {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}
.sorting ul a {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
.right-column {
	display: inline-block;
	vertical-align: top;
	width: 800px;
}
.sorting {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}
.sorting ul:first-child {
	display: inline-block;
	vertical-align: top;
	width: 740px;
	font-size: 16px;
}
.sorting li {
	display: inline;
}
.sorting ul:last-child {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	font-size: 16px;
}
.sorting ul {
	padding: 0;
}
.portfolio {
	display: inline-block;
	vertical-align: top;
	width: 800px;
}
.lend {
	display: inline-block;
	vertical-align: top;
}
.lend:nth-child(odd) {
	padding-right: 40px;
}
.write {
	display: none;
	vertical-align: top;
	width: 360px;
}
.write h1 {
	font-family: 'robotobold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}
.write p {
	font-family: 'roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}
.write a {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
.paginator li {
	display: inline;
	padding-right: 5px;
}
.paginator a {
	font-family: 'robotomedium', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
