body {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: normal;
	width: 100%;
}
h1 {
	font-family: 'Roboto-Medium', 'Arial', sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: normal;
	margin-left: 220px;
}
h2 {
	font-family: 'Roboto-Medium', 'Arial', sans-serif;
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: normal;
}
.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 0;
}
.main-container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 0;
}
.index-logo {
	width: 360px;
	background-color: red;
	display: inline-block;
	vertical-align: top;
}
.main-nav {
	width: 640px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	text-transform: uppercase;
	background-color: green;
}
.main-nav li {
	display: inline;
	padding-right: 40px;
}
.basket {
	width: 160px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	background-color: yellow;
}
.slide-text {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	font-size: 16px;
	background-color: yellow;
}
.slide-img {
	display: inline-block;
	vertical-align: top;
	width: 760px;
	background-color: red;
}
.feature-item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-right: 100px;
	font-size: 16px;
	background-color: green;
}
.feature-item:last-child {
	margin-right: 60px;
}
.about-left {
	display: inline-block;
	vertical-align: top;
	width: 700px;
	font-size: 16px;
	margin-right: 100px;
	background-color: red;
}
.about-right {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	font-size: 16px;
	background-color: yellow;
}
.logos a {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin-right: 40px;
	background-color: yellow;
}
.logos a:last-child {
	margin-right: 0px;
}
.contact {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	padding-left: 45px;
	padding-right: 60px;
	box-sizing: border-box;
	font-size: 16px;
	background-color: yellow;
}
.social li {
	display: inline-block;
	vertical-align: top;
	width: 80px;
	background-color: #e1e1e1;
	margin-right: 10px;
}
.social {
	display: inline-block;
	vertical-align: top;
}
.sale {
	display: inline-block;
	vertical-align: top;
	width: 700px;
	padding-left: 140px;
	box-sizing: border-box;
	font-size: 16px;
	background-color: green;
}
.left-column {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	font-size: 16px;
	background-color: yellow;
}
.right-column {
	display: inline-block;
	vertical-align: top;
	width: 800px;
}
.sorting {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	background-color: red;
}
.sorting ul:first-child {
	display: inline-block;
	vertical-align: top;
	width: 740px;
	font-size: 16px;
}
.sorting li {
	display: inline;
}
.sorting ul:last-child {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	font-size: 16px;
	background-color: grey;
}
.sorting ul {
	padding: 0;
}
.portfolio {
	display: inline-block;
	vertical-align: top;
	width: 800px;
	background-color: green;
}
.lend {
	display: inline-block;
	vertical-align: top;
}
.lend:nth-child(odd) {
	padding-right: 40px;
}
.write {
	display: none;
	vertical-align: top;
	width: 360px;
	background-color: yellow;
}
.write h1 {
	font-size: 16px;
}
.paginator li {
	display: inline;
	padding-right: 5px;
	background-color: red;
}
